* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)
- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
- Light Red (error): hsl(0, 100%, 63%) */


body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    background-color: hsl(217, 28%, 15%);
    color: white;
}


/* navbar start */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    width: 100%;
}

.navbar img {
    width: 90px;
}


.navbar-links {
    display: flex;
    gap: 10px;
    list-style: none;

}

.navbar a {
    color: white;
    text-decoration: none;
}

/* navbar end */



/* hero start */

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left bottom;
    padding-bottom: 200px;
}

.hero img {
    width: 400px;
}

.hero-h1 {
    max-width: 430px;
}

.hero-p {
    max-width: 400px;
    font-size: 13px;
    line-height: 1.4;

}

.btn {
    background-color: hsl(198, 60%, 50%);
    color: white;
    border: none;
    padding: 13px 50px;
    font-weight: 700;
    width: 200px;
    border-radius: 30px;

}

/* hero end */



/* info-section start */
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
    background-color: hsl(218, 28%, 13%);
}

.info-card-container {
    display: flex;
    gap: 100px;

}

.info-card {
    max-width: 400px;
}

.info-card p{
    margin-top: 10px;
    line-height: 1.4;
    opacity: 0.7;
}
/* info-section end */



/* section productive start */

.productive{
    background-color:hsl(218, 28%, 13%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 150px;
}

.productive-content h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.productive-content p{
    opacity: 0.7;
    margin-bottom: 20px;

}

.productive-content a{
    color: white;
    opacity: 0.8;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.productive-content a:hover{

    text-decoration: underline;

}


/* section productive end*/



/* profile start */

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(218, 28%, 13%) ;
    padding: 90px;
    gap: 40px;
}

.profile img{
    width: 30px;
    border-radius: 100%;
}

.profile-container{
    background-color:hsl(219, 30%, 18%) ;
    border-radius: 5px;
    box-shadow: 3px 2px 10px  rgba(255, 255, 255, 0.057);
    padding: 20px;
}

.profile-container{
    line-height: 1.5;
    opacity: 0.8;
}

.profile{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin-top: 20px;
}

.profile p{

    opacity: 0.6;

}

/* profile end */

